/* LEDES */

body {
  /* background: #adadad;
  color: #222222; */
}

.idyll-text-container p {
  /* color: #222222; */
}

.parametric-article-nav {
  /* background-color: #adadad;
  border-bottom-color: #222222;
  color: #222222; */
}

.parametric-article-nav .parametric-nav-links a {
  /* color: #222222; */
}
.parametric-nav-toc {
  /* color: #222222 !important; */
}
.idyll-text-container p a, aside a, a {
  color: #D8FFA2;
  text-decoration: none;
}
.idyll-text-container p a:hover, aside a:hover, a:hover {
  text-decoration: underline;
}
.lede, .lede p {
  font-family: 'Graphik Web';
}


.idyll-text-container {
  max-width: 640px;
}

h1, h2, h3, h4, h6 {
  color: #adadad;
  font-weight: 500;
}
h1 {
  font-size: 32px;
  line-height: 48px;
  color: #D8FFA2;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h2, h3, h4, h6 {
  font-family: 'Graphik Web';
  font-weight: 500;
  margin-bottom: 0;
}

.lede-a, .lede-a p {
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
}

.lede-b, .lede-b p {
  font-size: 24px;
  line-height: 40px;
}

/* large aside */

.large-aside-container {
  display: block;
  position: relative;
  /* max-width: calc(100vw - 800px);
  width: calc(100vw - 800px); */
  width: 300px;
}

.large-aside-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  left: 750px;
  margin-right: 75px;
  width: 300px;
  font-family: 'Graphik Web';
}

.large-aside-wrapper p {
  font-family: 'Graphik Web';
  font-size: 16px;
  line-height: 24px;
}

.large-aside {
  width: 100%;
}

.large-aside .parametric-graphic-source {
  margin-top: 0;
}

.large-aside .parametric-graphic .parametric-caption {
  margin-bottom: 1em;
}

.idyll-text-container p a.hidden-link {
  color: #adadad;
  text-decoration: none;
}

.idyll-text-container p a.hidden-link:hover {
  text-decoration: underline;
  color: #D8FFA2;
}

.parametric-nav-links a:first-of-type {
  text-decoration: underline;
}

@media all and (max-width: 1100px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .large-aside-wrapper {
    margin-left: 0;
    margin-right: 0;
    position: static;
    max-width: calc(100vw - 100px);
    width: calc(100vw - 100px);
  }
}

@media all and (max-width: 800px) {
  .large-aside-container {
    max-width: calc(100vw - 2em);
    width: calc(100vw - 2em);
  }
}

